/* line 51, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
body {
  margin: 0;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  max-width: 700px; }

/* line 57, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
header {
  position: fixed;
  width: 100%;
  max-width: 700px;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: #ff751a; }
  /* line 68, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
  header #logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    /* line 70, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
    header #logo img {
      width: 256px;
      height: 64px; }
    /* line 75, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
    header #logo .spacer {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    /* line 79, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
    header #logo .spinner {
      visibility: hidden;
      margin-top: 6px;
      margin-right: 8px;
      border: 14px solid #f3f3f3;
      border-top: 14px solid #cc5200;
      border-radius: 50%;
      width: 14px;
      height: 14px;
      -webkit-animation: spin 0.8s linear infinite;
      -moz-animation: spin 0.8s linear infinite;
      animation: spin 0.8s linear infinite;
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      animation-play-state: paused; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate3d(0deg); }
  100% {
    -moz-transform: rotate3d(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
      /* line 106, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
      header #logo .spinner.show {
        visibility: visible;
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        animation-play-state: running; }
  /* line 113, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0.3em; }
    /* line 117, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
    header nav a {
      color: #fff;
      padding: 0.05em 0.4em 0.15em 0.4em;
      text-decoration: none;
      text-transform: uppercase;
      border-right: 2px solid #cc5200; }
      /* line 127, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
      header nav a:first-child {
        border-left: 2px solid #cc5200;
        margin-left: 0.3em; }
      /* line 132, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
      header nav a.selected {
        background-color: #cc5200; }

/* line 139, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
#content {
  margin-top: 120px;
  margin-left: 0.8em;
  margin-right: 0.8em; }
  /* line 144, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
  #content > a {
    display: block;
    margin-bottom: 1.0em; }

/* line 150, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
#loader {
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }
  /* line 158, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
  #loader.show {
    visibility: visible; }

/* line 163, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
.blog-box {
  border: 1px dashed #cc5200;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.75); }
  /* line 169, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
  .blog-box > h2 {
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: 0.2em; }
  /* line 175, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
  .blog-box > p {
    margin-left: 0.6em;
    margin-right: 0.6em; }
  /* line 180, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
  .blog-box > a {
    display: block;
    margin-left: 0.6em;
    margin-right: 0.6em;
    margin-bottom: 1.0em; }

/* line 189, /Users/selti99/Desktop/js-fsm/docs/webpage/css/style.scss */
footer {
  background-color: #ff751a;
  color: #fff;
  padding: 0.3em 0 0.4em 0.3em; }

/*# sourceMappingURL=style.css.map */